theano
pillow
nltk
SQLalchemy
statsmodels
xgboost
pydot
django
flask
selenium
pyglet
pybrain
keras
pandas
sympy
numpy
scipy
scapy
tensorflow
pandas
matplotlib
ggplot
sklearn
bokeh
seaborn
